"""{migration.revision} - {migration.display_name}"""
from pelican import migration
from sqlalchemy import *

@migration.up
def upgrade() -> None:
    pass


@migration.down
def downgrade() -> None:
    pass